main {
  max-width: 600px;
}

h3, p {
  text-align: left;
}

h3 {
  color: #f56900;
  letter-spacing: .05em;
}

p {
  margin-bottom: 16px;
  line-height: 1.5em;
}

.purple {
  color: #631662;
}

.gold {
  color: #f56900;
}

.gurple {
  color: #AC4031
}
